/* STYLE */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Noto Sans';
    background-color: #d2d4e1;
}

button {
    min-width: 80px;
    min-height: 50px;
    width: 25%;
    height: auto;
    border-style: groove;
    background-color: #ededed;
}

input {
    text-align: right;
    padding-right: 16px;
    margin-bottom: 2px;
    border-style: groove;
}

.middle {
    display: flex;
    justify-content: center;
}

.column-1 {
    gap: 16px;
    margin: 16px
}

.column-2 {
    width: 225px;
    max-width: 600px;
    gap: 16px;
    margin: 16px;
    text-align: center;
    border-style: ridge;
    border-color: #1a1a1a;
    background-color: #ededed;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 600px;
    border-style: ridge;
    border-color: #1a1a1a;
    border-radius: 4px;
}

.calculator > div {
    display: flex;
}

.display-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3366cc;
    height: 128px;
}

.row {
    display: flex;
    justify-content: center;
}

.history {
    margin: 8px;
}

.header {
    padding-bottom: 32px;
}

.footer {
    padding-top: 32px;
}

#number-display {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100px;
    width: 80%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #ededed;
    border-style: ridge;
    border-width: 2px;
    border-color: #666666;
}

#current-number {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 8px;
}

#previous-number {
    display: flex;
    flex-direction: row-reverse;
    font-size: smaller;
    padding-right: 8px;
}

#backspace {
    width: 50%;
}

#all-clear {
    width: 50%;
}

