/* STYLE */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Noto Sans';
    background-color: #d2d4e1;
}

button {
    min-width: 80px;
    min-height: 70px;
    width: 25%;
    height: auto;
    border-style: groove;
    background-color: #ededed;
}

input {
    text-align: right;
    padding-right: 16px;
    margin-bottom: 2px;
    border-style: groove;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    padding-bottom: 32px;
}

/* CLASSES */

.middle {
    display: flex;
    justify-content: center;
}

.column-1 {
    gap: 16px;
    margin: 16px
}

.column-2 {
    width: 255px;
    max-width: 300px;
    max-height: 505px;
    gap: 16px;
    margin: 16px;
    text-align: center;
    border-style: ridge;
    border-color: #1a1a1a;
    background-color: #ededed;
}

.history {
    display: flex;
    flex-direction: column;
    margin: 8px;
    background-color: #ededed;
}

.history-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    margin-bottom: 16px;
}

.history-log-container {
    display: flex;
    flex-direction: column-reverse;

}

.history-entry {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: 600;
    border: dotted;
    border-width: 2px;
    border-radius: 16px;
    border-color: #3366cc;
    padding: 4px;
    margin: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 600px;
    border-style: ridge;
    border-color: #1a1a1a;
    border-radius: 4px;
}

.calculator > div {
    display: flex;
}

.display-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    height: 150px;
}

.row {
    display: flex;
    justify-content: center;
}

.operand {
    background-color: #ededed;
    font-weight: 700;
    font-size: medium;
}

.operand:hover {
    transition: 0.15s;
    background-color: #666666;
}

.operator {
    background-color: #3366cc;
    color: #ededed;
    font-weight: 800;
    font-size: large;
}

.operator:hover {
    background-color: #ededed;
    color: #3366cc;
    transition: 0.15s;
}

.footer {
    padding-top: 32px;
}

.material-symbols-sharp {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/* IDs */

#number-display {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100px;
    width: 80%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #ededed;
    border-style: ridge;
    border-width: 2px;
    border-color: #666666;
}

#current-number {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 600;
    padding-right: 8px;
}

#previous-number {
    display: flex;
    flex-direction: row-reverse;
    font-size: smaller;
    font-weight: 500;
    padding-right: 8px;
}

#backspace {
    width: 50%;
}

#all-clear {
    font-weight: 800;
    font-size: large;
    width: 50%;
}

#all-clear:hover, #backspace:hover {
    background-color: #3366cc;
    color: #ededed;
    transition: 0.15s;
}

#evaluate {
    background-color: #666666;
    color: #ededed;
    font-weight: 500;
    font-size: large;
}

#evaluate:hover {
    background-color: #ededed;
    color: #3366cc;
    transition: 0.15s;
}

#dot {
    background-color: #ededed;
    color: #1a1a1a;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dot:hover {
    transition: 0.15s;
    background-color: #666666;
}

#delete-history {
    min-height: 40px;
    min-width: 40px;
    height: 24px;
    width: 24px;
    padding-left: 2px;
    /* border: none; */
}

#delete-history:hover {
    transition: 0.2s;
    border: solid;
    border-width: 2px;
    border-radius: 24px;
    border-color: #3366cc;
}