/* STYLE */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Noto Sans';
    background-color: #d2d4e1;
}

button {
    min-width: 80px;
    min-height: 50px;
    width: 25%;
    height: auto;
    border-style: groove;
    background-color: #ededed;
}

input {
    text-align: right;
    padding-right: 16px;
    margin-bottom: 2px;
    border-style: groove;
}

/* CLASSES */

.middle {
    display: flex;
    justify-content: center;
}

.column-1 {
    gap: 16px;
    margin: 16px
}

.column-2 {
    width: 225px;
    max-width: 600px;
    gap: 16px;
    margin: 16px;
    text-align: center;
    border-style: ridge;
    border-color: #1a1a1a;
    background-color: #ededed;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 600px;
    border-style: ridge;
    border-color: #1a1a1a;
    border-radius: 4px;
}

.calculator > div {
    display: flex;
}

.display-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3366cc;
    height: 128px;
}

.row {
    display: flex;
    justify-content: center;
}

.operand {
    background-color: #ededed;
}

.operator {
    background-color: #3366cc;
    color: #ededed;
}

.history {
    margin: 8px;
}

.header {
    padding-bottom: 32px;
}

.footer {
    padding-top: 32px;
}

.material-symbols-sharp {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/* IDs */

#number-display {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100px;
    width: 80%;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #ededed;
    border-style: ridge;
    border-width: 2px;
    border-color: #666666;
}

#current-number {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 8px;
}

#previous-number {
    display: flex;
    flex-direction: row-reverse;
    font-size: smaller;
    padding-right: 8px;
}

#backspace {
    width: 50%;
}

#all-clear {
    width: 50%;
}

#square, #root, #fractal, #percentage, #dot {
    background-color: #3B919B;
    color: #ededed;
}

#evaluate {
    background-color: #3366cc;
    color: #ededed;
}
